/*
body
header
nav a:hover
.book, .join
.book:hover, .join:hover
#background
.msg
footer

Primar - #0A369D
Secondary - #4472CA
Accent 1 - #5E7CE2
Accent 2 - #92B4F4

*/
body {
    background-color: #92B4F4; /* Accent 2*/
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    padding: 0;
}

#logo_link img {
    padding-top: 5px;
}

header {
    background-color: #4472CA; /* Secondary */
    font-family: Candara, Verdana, Helvetica, sans-serif;
}

nav a {
    text-align: center;
    color: rgb(234, 234, 234);
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #5E7CE2; /* Accent 1*/
    color: white;
}

/* Might need to work on these colors */
.book, .join {
    background-color: #0A369D; /* rgb(115, 121, 132); */
    color: rgb(234, 234, 234);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #455ca7;
    color: rgb(234, 234, 234);
}

.msg {
    background-color: #4472CA;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: rgb(234, 234, 234);
    font-family: Candara, Verdana;
}

.msg p {
    color: rgb(234, 234, 234);
    font-size: .8em;
    padding-bottom: 15px;
}


#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.home-title {
    color: white;
    font-family: Candara, Verdana;
    font-size: 2em;
    margin-top: 10px;
}

#background {
    height: 725px;
    background-color: #4472CA;
}

footer {
    background: #4472CA;
    color: rgb(234, 234, 234);
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

footer p {
    font-size: 1.5em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

/* Images */
.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #5E7CE2;
}