body {
    background-color: darkslateblue;
}

h1 {

    text-align: center;
    color: white;
}

nav {
    background-color: darkolivegreen;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

nav:hover {
    background-color: darkslategray;
}