/* I think it looks a lot cleaner with spaces in between each
of the selectors. */

body {
    text-align: center;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

a {
    color: white;
    margin: 40px;
    font-size: 1.5em;
}

h1 {
    color: steelblue;
}

img {
    width: 80%;
    border: 4px solid steelblue;
}

p {
    padding: 10px;
    width: 80%;
}

footer {
    background-color: steelblue;
    color: white;
}

/* Practicing IDs and Classes*/

/* This is a ID */
#active {
    background-color: aliceblue;
    color: blueviolet;
}

/* This is a class */
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}