.home-grid {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column: 1/3;
    z-index: 3;
}

.grid-item {
    font-size: 38px;
    z-index: 1;
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid-item-2 {
    background-color: gray;
}

.grid-item-2 h2 {
    color: maroon;
    font-size: 32px;
    text-align: center;
    position: relative;
    top: 190px;
}

.grid-item img {
    width: 200px;
}