@import url('https://fonts.googleapis.com/css?family=Open+Sans|Montserrat|Roboto+Slab');


/* Navigation Menu */

nav {
    background-color: rgb(29, 29, 29);
    margin: 0;
    padding: 5px;
}

/* Need to fix the logo */
nav img {
    width: 500px;
    margin-left: -25px;
}

nav a {
    color: white;
    margin: 10px;
    padding: 20px;
    font-size: 1em;
    text-decoration: none;
    position: relative;
    top: -32px;
    left: 30%;
    font: "Roboto Slab";
}

nav a:hover {
    background-color: rgb(123, 123, 123);
}
/* End of Navigation */

/* Title of page named "Contact Me"*/
h1 {
    color: white;
    text-align: center;
    font-size: 24px;
    margin-top: 25px;
    font: Montserrat;
    letter-spacing: 10px;
}
/* HTML and CSS */

body {
    background-color: rgb(33, 40, 40);
    font-family: Montserrat, "Open Sans", "Roboto Slab", Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Main Content of Contact Me Page*/
#home {
    width: 95%;
    margin-left: 30px;
}

* {box-sizing: border-box;}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  background-color: rgb(56, 56, 56);
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font: "Open Sans";
}

input[type=submit] {
  background-color: #1023ac;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #000e75;
}

.container {
  border-radius: 5px;
  background-color: rgb(29, 29, 29);
  padding: 20px;
}

/* Footer stuff all down here I hope. */

footer {
    background-color: rgb(29, 29, 29);
    padding: 0;
    position: relative;
    color: white;
    text-align: left;
    margin-top: 20px;
}

/* Copy right / designer / developer */
.text {
    width: 20%;
    color: white;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: 50px;
    right: 20px;
}

/* Move text down to be centered with box */

/* Button for Contact Me*/
#button {
    position: relative;
    left: 75%;
    bottom: 35px;
    color: white;
    padding: 15px;
    text-decoration: none;
}
#siteplan {
    position: relative;
    left: 83%;
    bottom: 35px;
    color: white;
    padding: 15px;
    text-decoration: none;
}
#siteplan:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(123, 123, 123);
    padding: 15px;
}

#button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(123, 123, 123);
    padding: 15px;
}

.social, .social img {
    width: 70px;
    position: relative;
    left: 90%;
    bottom: 14px;
}

.social .two {
    width: 110px;
    position: absolute;
    bottom: -6px;
    margin-left: -150px;
}