/* Navigation Menu */

nav {
    background-color: rgb(29, 29, 29);
    margin: 0;
    padding: 5px;
}

/* NEED TO ADD IN NEW FONTS FROM SITE-PLAN! */
nav img {
    width: 500px;
    margin-left: -25px;
}

nav a {
    color: white;
    margin: 10px;
    padding: 20px;
    font-size: 1em;
    text-decoration: none;
    position: relative;
    top: -32px;
    left: 32%;
}

nav a:hover {
    background-color: rgb(123, 123, 123);
}
/* End of Navigation */

/* Paralax testing */
.parallax {
    /* The image used */
    background-image: url("PortfolioSite\images\para-bk1.jpg");
      
    /* Set a specific height */
    min-height: 500px; 
      
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1, .bgimg-1 img {
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgimg-2, .bgimg-2 img {
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 110px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}
.caption span.border {
    background-color: #1023ac;
    color: white;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

/* Body and Content of webpage */
body {
    background-color: rgb(33, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
main {
    width: 100%;
}
html {
    height: 100%;
    width: 100%;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Home grid */
.home-grid {
    display: grid;
    grid-template-columns: 100%;
    color: white;
    width: 100%;
}

/* Individual grid item */
.grid-item {
    background-color: rgb(29, 29, 29);
    width: 100%;
    height: 78%;
    justify-self: center;
    margin-top: -15px;
    display: inline-block;
}

.grid-item2 {
    position: relative;
    bottom: 150px;
}

.grid-item img, .grid-item2 img {
    width: 350px;
    margin-top: 20px;
    margin-left: 20px;
}

.grid-item h3, .grid-item2 h3 {
    position: relative;
    bottom: 500px;
    font-size: 32px;
}

.grid-item p, .grid-item2 p {
    display: block;
    position: relative;
    bottom: 300px;
    font-size: 18px;
    grid-column: 2/3;
    margin-left: 80px;
    max-width: 80%;
}

/* Title for little about me, display: inline fixed scrolling*/
.picture-box-text {
    height: 0;
}

.picture-box-text h3 {
    position: relative;
    display: inline;
    left: 740px;
    bottom: 490px;
    font-size: 24px;
    font-family: Arial;
}
/* Description 1*/
.picture-box-text .one {
    max-width: 65%;
    position: relative;
    left: 440px;
    bottom: 475px;
    font-family: Calibri;
    font-size: 18px;
    display: block;
}

.picture-box-text .two {
    max-width: 65%;
    position: relative;
    left: 440px;
    bottom: 440px;
    font-family: Calibri;
    font-size: 18px;
    display: block;
}

.picture-box-text .three {
    max-width: 65%;
    position: relative;
    left: 440px;
    bottom: 410px;
    font-family: Calibri;
    font-size: 18px;
    display: block;
}



/* Footer stuff all down here I hope. */

footer {
    background-color: rgb(29, 29, 29);
    padding: 0;
    color: white;
    text-align: left;
    margin-top: 20px;
}

/* Copy right / designer / developer */
.text {
    width: 20%;
    color: white;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: 50px;
    right: 20px;
}

/* Move text down to be centered with box */

/* Button for Contact Me*/
#button {
    position: relative;
    left: 75%;
    bottom: 35px;
    color: white;
    padding: 15px;
    text-decoration: none;
}
#siteplan {
    position: relative;
    left: 83%;
    bottom: 35px;
    color: white;
    padding: 15px;
    text-decoration: none;
}
#siteplan:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(123, 123, 123);
    padding: 15px;
}

#button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(123, 123, 123);
    padding: 15px;
}

.social, .social img {
    width: 70px;
    position: relative;
    left: 90%;
    bottom: 14px;
}

.social .two {
    width: 110px;
    position: absolute;
    bottom: -6px;
    margin-left: -150px;
}
