body {
    background-color: rgb(33, 40, 40);
}

footer {
    background-color: rgb(29, 29, 29);
    height: 10%; /* Absolute is px*/
    width: 100%; /* Relative is percent */
    color: white;
    text-align: left;
}

/* Button for Contact Me*/
footer #button {
    height: 30px;
    width: 10%;
    background-color: black;
    text-align: center;
}

.social {
    width: 10px;
    height: 10px;
}